body{
    background-image: url('../Images/background.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    backdrop-filter: blur(5px);
}

em{
    display: block;
    width: 100%;
    color: red;
    background-color: rgba(255, 166, 0);
}

.container{
    background-color: rgba(33, 33, 33, 0.9);
    min-height: 100vh;
}

.user-form input, .foglalBTN, .kivalasztBTN, .user-form select{
    display: block;
    font-weight: bold;
    width: 100%;
    padding: 15px;
    margin: 10px auto;
    color: white;
    font-size: 120%;
    background-color: rgb(33, 33, 33);
    border: 2px solid greenyellow;
    border-radius: 50px;
}

.user-form input[type=submit]{
    color: white;
    border: 2px solid greenyellow;
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.user-form .redirect{
    font-weight: bold;
    color: white;
    border: 2px solid rgb(175, 109, 252);
    display: block;
    width: 40%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;

}

.user-form .redirect:hover{
    background-color: rgb(175, 109, 252);
    color: rgb(33, 33, 33);

}

.user-form input[type=submit]:hover, .foglalBTN:hover, .table-item div:last-child:hover{
    background-color: greenyellow;
    color: rgb(33, 33, 33);
}

.user-form input::placeholder{
    color: rgba(255, 255, 255, 0.3);
}

.foglalBTN{
    width: 90%;
    height: 60px;
}

.ugyfel-form{
    padding: 15px;
    border: 1px solid greenyellow;
    background-color: rgba(173, 255, 47, 0.2);
}

.car-form{
    padding: 15px;
    border: 1px solid rgb(0, 255, 255);
    background-color: rgba(0, 255, 255, 0.2);
}

.car-form input, .car-form select{
    border: 2px solid rgb(0, 255, 255);
}

.car-form select option{
    display: inline-block;
    padding: 150px;
}

.car-form input[type=submit]{
    border: 2px solid rgb(0, 255, 255);
}

.car-form input[type=submit]:hover{
    background-color: rgb(0, 255, 255);
}

.navbar img{
    height: 40px;
}

.nav-item:nth-child(6){
    cursor: pointer;
    position: absolute;
    right: 0;
}

h1{
    text-decoration: underline;
    border-bottom: 3px solid white;
    padding: 5px;
}

hr{
    border: 2px solid white;
    opacity: 100%;
}

.autok{
    color: white;
}

.table-head div{
    text-align: center;
    border: 1px solid greenyellow;
    background-color: rgb(33, 33, 33);
    font-weight: bold;
    border-collapse: collapse;
}

.kivalasztTABLA table{
    border: 1px solid greenyellow;
    width: 100%;
}

.car-form .kivalasztTABLA table{
    border: 1px solid rgb(0, 255, 255);
}

.kivalasztTABLA td{
    padding: 5px;
}

.table-item, .kivalasztTABLA tr{
    background-color: rgb(33, 33, 33);
}

.table-item:nth-child(2n), .kivalasztTABLA tr:nth-child(2n){
    background-color: rgb(45, 45, 45);
}

.table-item div:last-child{
    cursor: pointer;
    font-weight: bold;
    
}

.table-item div{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 5px 0px 5px 0px;
}

.table-item div p{
    padding: 0px;
    margin: 0;
    margin-left: 15px;
}

.table-item div:last-child{
    padding: 5px 0px 5px 0px;
    justify-content: center;
    border: 1px solid gray;
}

.pagination{
    text-align: center;
    font-weight: bold;
}


.pagination li p{
    cursor: pointer;
    background-color: rgb(33, 33, 33);
    border: 1px solid greenyellow;
    color: white;
}

.pagination li p:hover{
    border: 1px solid greenyellow;
    background-color: greenyellow;
    color: rgb(33, 33, 33);
}

.car-form .table-item div:last-child:hover{
    background-color: rgb(0, 255, 255);
}

.fizetAutok .table-head div{
    border: 1px solid rgb(0, 255, 255)
}

.car-form .page-link, .cars .page-link, .cars .button{
    border: 1px solid rgb(0, 255, 255)
}

.car-form .page-link:hover, .cars .page-link:hover{
    border: 1px solid rgb(0, 255, 255);
    background-color: rgb(0, 255, 255);
}

.car_table .button:hover{
    
}

@media (max-width: 992px) {
    .nav-item:nth-child(6){
        position: relative;
    }
}

@media (max-width: 767px) {
    .table-item{
        margin-bottom: 15px;
    }

    .table-item div:last-child{
        border: 1px solid greenyellow;
    }

    .car-form .table-item div:last-child, .cars .button{
        border: 1px solid rgb(0, 255, 255);
    }
}